/*------------------------------------*\
    # baasicbar
\*------------------------------------*/

.baasicbar {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    background: #00c2e8;
}
.baasicbar__content {
    overflow: hidden;
}

.baasicbar__content h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.container input.currency, input.date {
    height: 52px;
    padding: 0px 10px;
    font-size: 30px;
    line-height: 1;
    border-radius: 2px;
    width: 150px;
}

.container input.date {
    width: 270px;
}

.container select {
    ext-transform: none;
    margin-left: 10px;
    height: 43px;
    width: 100px;
}

div.warning p {
    text-align: center;
    font-size: 12px;
}

