<!DOCTYPE html>
<html ng-app="currencyDemo">
<head>
    <meta charset="utf-8"/>
    <title>Курс валют приложение на AngularJS</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo-base.css">
    <link rel="stylesheet" href="css/demo-baasicbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div>

            <h3>Курс валют</h3>
            <div ng-controller="MainController">
                <div>
                    <form name="currencyConvertFrom" novalidate action="#">
                        <input class="currency" type="number" min="1" ng-model="data.amount" required>
                        <input class="date" type="date" ng-model="data.date"><br><br>
                        <input class="currency" type="text" ng-model="data.result"><br><br>
                        <button type="submit" ng-click="submitForm()">РАССЧИТАТЬ</button>
                    </form>
                </div>
                <h3>History</h3>
                <div class="" ng-repeat="history in currencyHistory track by $index">
                    <p>{{$index + 1}}. {{history.amount}} {{history.fromCode}} = {{history.result | number: 2}} {{history.toCode}}  по курсу на {{history.date | date: 'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div ng-show="isLoading" class="overlay">
                <span class="loader" title="Loading&hellip;"></span>
            </div>
        </div>
        <div class="baasicbar">
            <div class="baasicbar__content">
                <h3>Курс валют приложение на AngularJS</h3>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://cdn.baasic.com/angularjs/baasic-javascript-framework-1.0.0.min.js"></script>
    <script src="http://cdn.baasic.com/angularjs/uritemplate-1.0.0.min.js"></script>
    <script src="http://cdn.baasic.com/angularjs/angular-hal-parser-1.0.0.js"></script>
    <script src="http://cdn.baasic.com/angularjs/baasic-angular-core-1.0.0.min.js"></script>
    <script src="http://cdn.baasic.com/angularjs/baasic-angular-article-1.0.0.min.js"></script>

    <script src="app.js"></script>
</body>
</html>